@font-face {
    font-family: 'ethnocentric';
    src: url('../../fonts/Ethnocentric-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'move-x';
    src: url('../../fonts/Move-X\ demo.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}