@use 'fonts';

$primary-color: #950002;
$secondary-color: #231f20;
$accent-color: white;
$body-text-color: #333;
$heading-font-family: 'ethnocentric', helvetica, arial;
$body-font-family: helvetica,arial, sans-serif;
$base-font-size: 18px;
$base-font-weight: 400;