model-viewer {
  width: auto;
  max-width: 1200px;
  height: 700px;
  background-color: #ffffff;
  margin: 0 auto;
}

.Hotspot {
  background: url(../images/hotspot.svg) center no-repeat;
  border: 0;
  cursor: pointer;
  width: 45px;
  height: 39px;
  transition: all 1s ease-in-out;
}

.Hotspot:not([data-visible]) {
opacity: 0;
    width: 45px;
    height: 38px;
    pointer-events: none;
}

.Hotspot:focus {
  border: 4px solid rgb(0, 128, 200);
  height: 32px;
  outline: none;
  width: 32px;
}


.HotspotAnnotation{
    visibility: hidden;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 0.8);
  display: block;
  font-family: Futura, Helvetica Neue, sans-serif;
  font-size: 18px;
  font-weight: 700;
  left: calc(100% + 1em);
  max-width: 200px;
  overflow-wrap: break-word;
  padding: 0.5em 1em;
  position: absolute;
  top: 50%;
  width: max-content;
  text-align: left;
}

  .HotspotAnnotation p {
    color: #333;
    line-height: 22px;
    font-weight: 300;
  }
  
  .HotspotAnnotation h2 {
    font-size: 18px;
    margin-bottom: 5px;
  }


  /* Progress */
  // Customize the progress bar
  //The ::part CSS pseudo-element represents any element within a shadow tree that has a matching part attribute.
  model-viewer::part(default-progress-bar) {
    height: 30px;
    background-color: #E89B36;
  }
  
  model-viewer::part(default-progress-mask) {
    display: none;
  }