@use '../abstracts';

#ar-section {
    background-color: abstracts.$secondary-color;
    color: white;
    padding-bottom: 50px;
}

#ar-section h2 {
    margin-top: 50px;
    margin-bottom: 25px;
}

model-viewer {
  width: auto;
  max-width: 768px;
  height: 300px;
  background-color: abstracts.$accent-color;
  margin: 0 auto;
  border-radius: 15px;
}

.mobile-hotspot-con {
  display: block;
}

.mobile-hotspot {
  display: flex;
  background-color: abstracts.$accent-color;
  border-radius: 15px;
  margin: 10px 0;
  color: abstracts.$secondary-color;
  text-align: left;
  align-items: center;
}

.mobile-hotspot img {
  max-width: 100px;
}

.ar-text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ar-text-content h3 {
  font-size: 10px;
}

.ar-text-content span {
  font-size: 8px;
}

.Hotspot {
  display: flex;
  background: url(../images/AR-images/hotspot.svg) center no-repeat;
  border: 0;
  cursor: pointer;
  width: 25px;
  height: 25px;
  transition: all 0.5s ease-in-out;
}

.Hotspot:not([data-visible]) {
opacity: 0;
    width: 45px;
    height: 38px;
    pointer-events: none;
}

.Hotspot:focus {
  border: none;
  height: 32px;
  outline: none;
  width: 32px;
}

.HotspotAnnotation h2,
.HotspotAnnotation p {
  display: none;
}

.hotspot-icon {
    max-width: 100%;
}

  /* Progress */
  // Customize the progress bar
  //The ::part CSS pseudo-element represents any element within a shadow tree that has a matching part attribute.
  model-viewer::part(default-progress-bar) {
    height: 30px;
    background-color: abstracts.$primary-color;
  }
  
  model-viewer::part(default-progress-mask) {
    display: none;
  }

@media screen and (min-width: 768px) {
    #ar-section {
          padding-bottom: 100px;
      }

      #ar-section h2 {
          margin-top: 100px;
          margin-bottom: 100px;
      }

.mobile-hotspot-con {
  display: none;
}

model-viewer {
  max-width: 1200px;
  height: 500px;
}

.Hotspot {
  display: flex;
  background: url(../images/AR-images/hotspot.svg) center no-repeat;
  border: 0;
  cursor: pointer;
  width: 45px;
  height: 45px;
  transition: all 0.5s ease-in-out;
}

.hotspot-icon {
    max-width: 50%;
}

.HotspotAnnotation h2, p {
  display: block;
}

.HotspotAnnotation{
    visibility: hidden;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 0.8);
  display: block;
  font-family: 'move-x', sans-serif;
  font-size: 18px;
  font-weight: 700;
  left: calc(100% + 1em);
  max-width: 200px;
  overflow-wrap: break-word;
  padding: 0.5em 1em;
  position: absolute;
  top: 50%;
  width: max-content;
  text-align: center;
}

  .HotspotAnnotation p {
    color: #333;
    line-height: 22px;
    font-weight: 300;
    text-align: left;
  }
  
  .HotspotAnnotation h2 {
    font-size: 18px;
    margin-bottom: 5px;
    text-align: left;
  }
}