ul, li {
    margin: 0;
    padding: 0;
}

#hamburger, #close {
    background: none;
    border: none;
    cursor: pointer;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: black;
    color: white;
    justify-content: right;
    align-items: center;
}

.overlay.open {
    display: flex;
    background-color: blue;
}

#close {
    position: absolute;
    top: 20px;
    right: 20px;
}

.overlay nav {
    background-color: red;
}

.overlay ul {
    list-style-type: none;
    text-align: center;
}

.overlay li {
    margin: 20px 0;
}

.overlay a {
    color: white;
    font-size: 32px;
    text-decoration: none;
}

.overlay a:hover {
    color: orange;
}