ul, li {
    margin: 0;
    padding: 0;
}

#hamburger, #close {
    background: none;
    border: none;
    cursor: pointer;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: black;
    color: white;
    justify-content: right;
    align-items: center;
}

.overlay.open {
    display: flex;
    background-color: blue;
}

#close {
    position: absolute;
    top: 20px;
    right: 20px;
}

.overlay nav {
    background-color: red;
}

.overlay ul {
    list-style-type: none;
    text-align: center;
}

.overlay li {
    margin: 20px 0;
}

.overlay a {
    color: white;
    font-size: 32px;
    text-decoration: none;
}

.overlay a:hover {
    color: orange;
}

@media screen and (min-width: 768px) {
    
    #hamburger, #close {
        display: none;
    }

    .overlay {
        display: flex;
        height: 10%;
        width: 100%;
        background-color: red;
        z-index: 999;
    }

    .overlay nav {
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
        width: 100%;
    }

    .overlay nav ul {
        background-color: yellow;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .overlay nav a { 
        height: 100%;
        padding: 0 30px;
        text-decoration: none;
        display: flex;
        align-items: center;
        color: black;
    }

    .overlay nav li:first-child {
        margin-right: auto;
    }


}

