@use "../abstracts";

#xray-con {
    position: relative;
    aspect-ratio: 16/10;
    background-image: url(../../images/slider-images/earbudsV2_slider.png);
    background-size: cover;
    border-radius: 15px;
}

#xray-section {
    background-color: abstracts.$primary-color;
    color: white;
}

#xray-section h2 {
    margin-top: 50px;
    margin-bottom: 50px;
}

#divisor {
    position: absolute;
    top: 0;
    left: 0;
    aspect-ratio: 16/10;
    background-image: url(../../images/slider-images/earbudsV2_slider_2.png);
    background-size: cover;
    width: 50%;
    height: 100%;
    border-radius: 15px;

    &::after {
        content: "";
        position: absolute;
        right: 0;
        width: 6px;
        height: 100%;
        background-color: white;
    }
};

input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
  width: calc(100% + 20px);
  height: 20px;
  background: transparent;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 0;
  background: transparent;
  border: none;
}

input[type=range]::-moz-range-track {
  height: 0;
  background: transparent;
  border: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  
}

input[type=range]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  #xray-section h2 {
        margin-top: 100px;
        margin-bottom: 100px;
    }
}