@use '../abstracts';

header {
    background-color: abstracts.$secondary-color;
}

.mobile-header h1 {
    font-family: 'ethnocentric';
    color: abstracts.$accent-color;
    text-align: center;
    margin: auto;
    padding: 20px;
}

body {
    background-color: abstracts.$secondary-color;
    font-family: 'move-x';
    font-size: 16px;
}

#about {
    background-color: abstracts.$accent-color;
}

#about h2 {
    margin-top: 50px;
    margin-bottom: 50px;
}

#scroller-section {
    margin-top: 50px;
}

#ar-section {
    background-color: abstracts.$secondary-color;
    color: white;
}

#ar-section h2 {
    margin-top: 50px;
    margin-bottom: 50px;
}

#xray-section {
    background-color: abstracts.$primary-color;
    color: white;
}

#xray-section h2 {
    margin-top: 50px;
    margin-bottom: 50px;
}

footer {
    background-color: abstracts.$secondary-color;
}

@media screen and (min-width: 768px) {
    .mobile-header {
        display: none;
    }

    body {
        font-size: 18px;
    }

    #about h2 {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    #ar-section h2 {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    #xray-section h2 {
        margin-top: 100px;
        margin-bottom: 100px;
    }
}

@media screen and (min-width: 1200px) {

    body {
        font-size: 20px;
    }
}